<div class="card">
    <div class="card-header">
        <strong class="card-title">Service</strong>
    </div>
    <div class="card-body">
        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nom  </th>
                    <th>Charge</th>
                    <th>Description</th>
                    <th>TVA</th>
                    <th>TVA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Anis</td>
                    <td>fzefze</td>
                    <td>zzz</td>
                    <td>zzz</td>
                    <td>zzz</td>
                </tr>
            
            </tbody>
        </table>
    </div>
</div>
