<div class="page-heading">
  <section class="section">
    <div class="card">
      <div class="card-header">
        <h2>Résilliations</h2>
      </div>
      <div class="card-body">
        <div class="dataTable-container">
          <app-termination-list></app-termination-list>
          <button
            type="button"
            class="btn btn-success btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#add"
          >
            <i class="fas fa-plus-square"></i>
          </button>
          <app-launch-plan-modal></app-launch-plan-modal>
        </div>
      </div>
    </div>
  </section>
</div>
