<div class="span3">
    <div class="sidebar">

        <ul class="widget widget-menu unstyled">
            <li class="active">
                <a routerLink="/dashboard">
                    <i class="menu-icon icon-dashboard"></i>
                    Tableau de bord
                </a>
            </li>
            <li>
                <a routerLink="/employee">
                    <i class="menu-icon icon-bullhorn"></i>
                    Employé
                </a>
            </li>
            <li>
                <a routerLink="/presence">
                    <i class="menu-icon icon-inbox"></i>
                    Présences des employés
                    
                </a>
            </li>
            
            <li>
                <a routerLink="/award">
                    <i class="menu-icon icon-tasks"></i>
                    Récompenses
                </a>
            </li>

            <li>
                <a routerLink="/transfert">
                    <i class="menu-icon icon-tasks"></i>
                    Transfert
                </a>
            </li>

            <li>
                <a routerLink="/complain">
                    <i class="menu-icon icon-tasks"></i>
                    Se plaindre
                </a>
            </li>

            <li>
                <a routerLink="/warning">
                    <i class="menu-icon icon-tasks"></i>
                    Avertissement
                </a>
            </li>

            <li>
                <a routerLink="/resign">
                    <i class="menu-icon icon-tasks"></i>
                    Démissions
                </a>
            </li>

            <li>
                <a routerLink="/termination">
                    <i class="menu-icon icon-tasks"></i>
                    Résilliation
                </a>
            </li>

            <li>
                <a routerLink="/holiday">
                    <i class="menu-icon icon-tasks"></i>
                    Vacances
                </a>
            </li>
            <li>
                <a routerLink="/leave">
                    <i class="menu-icon icon-tasks"></i>
                    Congés
                </a>
            </li>
            <li>
                <a routerLink="/training">
                    <i class="menu-icon icon-tasks"></i>
                    Entrainement
                </a>
            </li>
            <li>
                <a routerLink="/advance">
                    <i class="menu-icon icon-tasks"></i>
                    Avance sur salaire
                </a>
            </li>
            <li>
                <a routerLink="/credit">
                    <i class="menu-icon icon-tasks"></i>
                    Credit
                </a>
            </li>

            <li>
                <a routerLink="/salary">
                    <i class="menu-icon icon-tasks"></i>
                    Salaires
                </a>
            </li>
            <li>
                <a routerLink="/departement">
                    <i class="menu-icon icon-tasks"></i>
                    Departements
                </a>
            </li>
            <li>
                <a routerLink="/designation">
                    <i class="menu-icon icon-tasks"></i>
                    Désignations
                </a>
            </li>
            <li>
                <a routerLink="/notice">
                    <i class="menu-icon icon-tasks"></i>
                    Avis
                    
                </a>
            </li>
            <li>
                <a routerLink="/configuration">
                    <i class="menu-icon icon-tasks"></i>
                    Paramètres
                </a>
            </li>
        </ul><!--/.widget-nav-->

        

    </div><!--/.sidebar-->
</div><!--/.span3-->