<div class="sidebar-wrapper active">
    <div class="sidebar-header">
        <div class="d-flex justify-content-between">
            <div>
                <a routerLink="/dashboard">
                    <img src="assets/images/logo.png">
                </a>

            </div>
            <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
            <li class="sidebar-title">Menu</li>

            <li class="sidebar-item">
                <a routerLinkActive="active" class="sidebar-link" routerLink="/employee">
                    <i class="fas fa-users"></i>
                    <span>Employés</span>
                </a>
            </li>



            <li class="sidebar-item">
                <a routerLinkActive="active" class="sidebar-link" routerLink="/salary">
                    <i class="fas fa-dollar-sign"></i>
                    <span>Salaires</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a routerLinkActive="active" class="sidebar-link" routerLink="/award">
                    <i class="fas fa-money-check-alt"></i>
                    <span>Récompenses</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a routerLinkActive="active" class="sidebar-link" routerLink="/advance">
                    <i class="fas fa-coins"></i>
                    <span>Avance sur salaire</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a routerLinkActive="active" class="sidebar-link" routerLink="/holiday">
                    <i class="fas fa-bed"></i>
                    <span>Vacances</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a routerLinkActive="active" class="sidebar-link" routerLink="/leave">
                    <i class="fas fa-umbrella-beach"></i>
                    <span>Congés</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a routerLinkActive="active" class="sidebar-link" routerLink="/departement">
                    <i class="fas fa-puzzle-piece"></i>
                    <span>Départements</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a routerLinkActive="active" class="sidebar-link" routerLink="/designation">
                    <i class="fas fa-user-md"></i>
                    <span>Désignations</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a routerLinkActive="active" class="sidebar-link" routerLink="/resign">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Démissions</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a routerLinkActive="active" class="sidebar-link" routerLink="/termination">
                    <i class="fas fa-times-circle"></i>
                    <span>Résilliation</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a routerLinkActive="active" class="sidebar-link" routerLink="/complain">
                    <i class="fas fa-building"></i>
                    <span>Se plaindre </span>
                </a>
            </li>

            <li class="sidebar-item">
                <a routerLinkActive="active" class="sidebar-link" routerLink="/warning">
                    <i class="fas fa-exclamation"></i>
                    <span>Avertissement</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a routerLinkActive="active" class="sidebar-link" routerLink="/transfert">
                    <i class="fas fa-exchange-alt"></i>
                    <span>Transfert</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a routerLinkActive="active" class="sidebar-link" routerLink="/presence">
                    <i class="fas fa-check-square"></i>
                    <span>Présences</span>
                </a>
            </li>
        </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>