<div class="span3">
    <div class="sidebar">

        <ul class="widget widget-menu unstyled">
            <li class="active">
                <a href="index.html">
                    <i class="menu-icon icon-dashboard"></i>
                    Tableau de bord
                </a>
            </li>
            <li>
                <a href="activity.html">
                    <i class="menu-icon icon-bullhorn"></i>
                    Employé
                </a>
            </li>
            <li>
                <a href="message.html">
                    <i class="menu-icon icon-inbox"></i>
                    Présences des employés
                    
                </a>
            </li>
            
            <li>
                <a href="task.html">
                    <i class="menu-icon icon-tasks"></i>
                    Récompenses
                </a>
            </li>

            <li>
                <a href="task.html">
                    <i class="menu-icon icon-tasks"></i>
                    Transfert
                </a>
            </li>

            <li>
                <a href="task.html">
                    <i class="menu-icon icon-tasks"></i>
                    Se plaindre
                </a>
            </li>

            <li>
                <a href="task.html">
                    <i class="menu-icon icon-tasks"></i>
                    Avertissement
                </a>
            </li>

            <li>
                <a href="task.html">
                    <i class="menu-icon icon-tasks"></i>
                    Démissions
                </a>
            </li>

            <li>
                <a href="task.html">
                    <i class="menu-icon icon-tasks"></i>
                    Résilliation
                </a>
            </li>

            <li>
                <a href="task.html">
                    <i class="menu-icon icon-tasks"></i>
                    Vacances
                </a>
            </li>
            <li>
                <a href="task.html">
                    <i class="menu-icon icon-tasks"></i>
                    Congés
                </a>
            </li>
            <li>
                <a href="task.html">
                    <i class="menu-icon icon-tasks"></i>
                    Entrainement
                </a>
            </li>
            <li>
                <a href="task.html">
                    <i class="menu-icon icon-tasks"></i>
                    Avance sur salaire
                </a>
            </li>
            <li>
                <a href="task.html">
                    <i class="menu-icon icon-tasks"></i>
                    Credit
                </a>
            </li>

            <li>
                <a href="task.html">
                    <i class="menu-icon icon-tasks"></i>
                    Salaires
                </a>
            </li>
            <li>
                <a href="task.html">
                    <i class="menu-icon icon-tasks"></i>
                    Departements
                </a>
            </li>
            <li>
                <a href="task.html">
                    <i class="menu-icon icon-tasks"></i>
                    Désignations
                </a>
            </li>
            <li>
                <a href="task.html">
                    <i class="menu-icon icon-tasks"></i>
                    Avis
                    
                </a>
            </li>
            <li>
                <a href="task.html">
                    <i class="menu-icon icon-tasks"></i>
                    Paramètres
                </a>
            </li>
        </ul><!--/.widget-nav-->

        

    </div><!--/.sidebar-->
</div><!--/.span3-->