<div class="module">
    <div class="module-head">
        <h3>Employés</h3>
    </div>
    <a class="toggle-vis" data-column="0">Name</a> - <a class="toggle-vis" data-column="1">Position</a> 

    <div class="module-body">
        <table id="table" cellpadding="0" cellspacing="0" border="0"
            class="datatable-1 table table-bordered table-striped	 display" width="100%">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Télephone</th>
                    <th>Date de naissance</th>
                    <th>Sexe</th>
                    <th>Désignation</th>
                    <th>Département</th>
                    <th>Salaire</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX">
                    <td>Anis Kchaou</td>
                    <td>kchaouanis26@gmail.com</td>
                    <td>06 88 22 44 22</td>
                    <td class="center">01/05/1990</td>
                    <td class="center"> Homme</td>
                    <td class="center">Développeur Web</td>
                    <td class="center">Développment</td>
                    <td class="center">1.500</td>
                    
                    <td><button  type="button"  href="#view-employee" role="button"  data-toggle="modal" class="btn btn-primary btn-sm"><i class="fas fa-address-book"></i></button>
                        <button  type="button" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
                        <button  type="button" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet employé ?');"><i class="fas fa-trash-alt"></i></button></td>
                </tr>

                <tr class="odd gradeX">
                    <td>Jack Doe</td>
                    <td>jasck@gmail.com</td>
                    <td>06 99 66 44 66</td>
                    <td class="center">01/05/1999</td>
                    <td class="center"> Homme</td>
                    <td class="center">Développeur Mobile</td>
                    <td class="center">Développment</td>
                    <td class="center">2.500</td>
                    
                    <td><button  type="button"  href="#view-employee" role="button"  data-toggle="modal" class="btn btn-primary btn-sm"><i class="fas fa-address-book"></i></button>
                        <button  type="button" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
                        <button  type="button" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet employé ?');"><i class="fas fa-trash-alt"></i></button></td>
                </tr>
            
            </tbody>
            <tfoot>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Télephone</th>
                    <th>Date de naissance</th>
                    <th>Sexe</th>
                    <th>Désignation</th>
                    <th>Département</th>
                    <th>Salaire</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
        <button  type="button" href="#add-employee" role="button"  data-toggle="modal" class="btn btn-success btn-sm"><i class="fas fa-plus"></i>  Ajouter un employé</button>
    </div>
</div>

<!-- Large modal -->


<div id="view-employee" class="modal hide fade">
    
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Détails</h3>
    </div>
    
    <div class="modal-body"> 
      <app-view-employee></app-view-employee>
    </div>
    
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Fermer</a>
       
    </div>
</div>


<div id="add-employee" class="modal hide fade">
    
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Détails</h3>
    </div>
    
    <div class="modal-body"> 
      <app-add-employee></app-add-employee>
    </div>
    
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Fermer</a>
       
    </div>
</div>

