<div class="module">
    <div class="module-head">
        <h3>Avance salaire</h3>
    </div>
    <div class="module-body table">
        <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display" width="100%">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Raison</th>
                    <th>Montant</th>
                    <th>Date</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX">
                    
                    <td>Anis</td>
                    <th>maladie</th>
                    <td>232</td>
                    <td>21/10/2020</td>	
                    <td>active</td>
                </tr>
            
            </tbody>
            <tfoot>
                <tr>
                    <th>Nom</th>
                    <th>Raison</th>
                    <th>Montant</th>
                    <th>Date</th>
                    <th>Statut</th>
                    
                </tr>
            </tfoot>
        </table>
    </div>
</div>
