<form style="width: 50%;
margin: 0 auto;" class="form-horizontal" action="#" enctype="multipart/form-data" id="auto_resignation_form">
    <input type="hidden" name="company_id" id="company_id" value="4">
    <div class="form-group row">
        <div class="col-md-2 ambitious-model-form-tc-pt">raison de vacances <b class="ambitious-crimson">*</b></div>
        <div class="col-md-10">
            <input class="form-control" name="type" id="type" type="text" placeholder="veuillez saisir un motif de vacances" required="">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2 ambitious-model-form-tc-pt">date de vacances<b class="ambitious-crimson">*</b>
        </div>
        <div class="col-md-4">
            <input autocomplete="off" id="date" name="date" type="text" class="form-control date flatpickr-input" required="" readonly="readonly">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2 ambitious-model-form-tc-pt">description de vacances</div>
        <textarea></textarea>
    </div>
</form>