<form style="width: 50%;
margin: 0 auto;" class="form-horizontal" action="#" enctype="multipart/form-data" id="auto_smtp_form">
    <input type="hidden" id="company_name" name="company_name" value="4">
    <div class="form-group row">
        <div class="col-md-3 ambitious-model-form-tc-pt">titre de désignation<b class="ambitious-crimson">*</b></div>
        <div class="col-md-9">
            <input class="form-control" name="title" id="title" type="text" required="">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3 ambitious-model-form-tc-pt">Nom du département <b class="ambitious-crimson">*</b></div>
        <div class="col-md-9">
            <select class="form-control" id="department_name" name="department_name" required="">
                <option value="">sélectionner le département</option>
                <option value="29">House Keeping</option>
                <option value="28">Nurse</option>
                <option value="27">Doctors</option>
                <option value="13">test</option>
                <option value="11">Hardware Store</option>
                <option value="10">Software Dept</option>
                <option value="9">Quality Control</option>
            </select>
        </div>
    </div>
</form>