<form [formGroup]="salaryForm">
  <div class="form-group row">
    <label for="name" class="col-4 col-form-label">Name</label>
    <div class="col-8">
      <input
        id="name"
        name="name"
        type="text"
        class="form-control"
        formControlName="salaryName"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="text" class="col-4 col-form-label">Basic Salary</label>
    <div class="col-8">
      <input
        id="text"
        name="text"
        type="text"
        class="form-control"
        formControlName="basicSalary"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="text1" class="col-4 col-form-label">Total Salary</label>
    <div class="col-8">
      <input
        id="text1"
        name="text1"
        type="text"
        class="form-control"
        formControlName="totalSalary"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="text2" class="col-4 col-form-label">Medical Allowance</label>
    <div class="col-8">
      <input
        id="text2"
        name="text2"
        type="text"
        class="form-control"
        formControlName="medicalAllowance"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="text" class="col-4 col-form-label">Conveyance Allowance</label>
    <div class="col-8">
      <input
        id="text"
        name="text"
        type="text"
        class="form-control"
        formControlName="conveyanceAllowance"
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button
        name="submit"
        type="button"
        (click)="add()"
        class="btn btn-primary"
      >
        Create
      </button>
    </div>
  </div>
</form>
