<div class="module">
    <div class="module-head">
        <h3>Plaintes</h3>
    </div>
    <div class="module-body table">
        <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display" width="100%">
            <thead>
                <tr>
                    <th>Fialiale</th>
                    <th>Porter plainte contre</th>
                    <th>Porter plainte du titre</th>
                    <th>Date de plainte</th>
                    <th>Actions</th>
                    
                
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX">
                    <td>Paris</td>
                    <td>Anis</td>
                    <td>RH</td>
                    <td>22/10/2020</td>
                    <td><button disabled type="button" class="btn btn-primary btn-sm">voir</button>
                        <button disabled type="button" class="btn btn-warning btn-sm">editer</button>
                        <button disabled type="button" class="btn btn-danger btn-sm">Supprimer</button></td>
                </tr>
            
            </tbody>
            <tfoot>
                <tr>
                    <th>Fialiale</th>
                    <th>Porter plainte contre</th>
                    <th>Porter plainte du titre</th>
                    <th>Date de plainte</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
        <button  type="button" class="btn btn-success btn-sm">Ajouter</button>
    </div>
</div>
