<div class="module">
    <div class="module-head">
        <h3>Employés</h3>
    </div>
    <div class="module-body table">
        <table cellpadding="0" cellspacing="0" border="0"
            class="datatable-1 table table-bordered table-striped	 display" width="100%">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Télephone</th>
                    <th>Date de naissance</th>
                    <th>Sexe</th>
                    <th>Désignation</th>
                    <th>Département</th>
                    <th>Salaire</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX">
                    <td>Nom</td>
                    <td>Internet
                         Explorer 4.0</td>
                    <td>Win 95+</td>
                    <td class="center"> 4</td>
                    <td class="center">X</td>
                    <td class="center">X</td>
                    <td class="center">X</td>
                    <td class="center">X</td>
                    <td><button disabled type="button" class="btn btn-primary btn-sm">voir</button>
                        <button disabled type="button" class="btn btn-warning btn-sm">editer</button>
                        <button disabled type="button" class="btn btn-danger btn-sm">Supprimer</button></td>
                </tr>
            
            </tbody>
            <tfoot>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Télephone</th>
                    <th>Date de naissance</th>
                    <th>Sexe</th>
                    <th>Désignation</th>
                    <th>Département</th>
                    <th>Salaire</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
        <button  type="button" class="btn btn-success btn-sm">Ajouter</button>
    </div>
</div>