<div class="page-heading">
  <section class="section">
    <div class="card">
      <div class="card-header">
        <h2>Award</h2>
      </div>
      <div class="card-body">
        <div class="dataTable-container">
          <button
            style="margin: 3px"
            type="button"
            href="#add"
            role="button"
            data-toggle="modal"
            class="btn btn-success btn-icon-split"
          >
            <span class="icon text-white-50">
              <i class="fas fa-plus"></i>
            </span>
            <span class="text">zerzerze</span>
          </button>
          <app-award-list [award]="award$"></app-award-list>
        </div>
        <button
          type="button"
          class="btn btn-success btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#add"
        >
          <i class="fas fa-plus-square"></i>
        </button>
        <app-modal-award></app-modal-award>
      </div>
    </div>
  </section>
</div>
