<div class="page-heading">
  <section class="section">
    <div class="card">
      <div class="card-header">
        <h2>Awards</h2>
      </div>
      <div class="card-body">
        <div class="dataTable-container">
          <button
            type="button"
            class="btn btn-success btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#add"
          >
            <i class="fas fa-plus-square"></i> Create
          </button>

          <app-modal-award [id]="id"></app-modal-award>
          <table
            class="table table-bordered"
            id="table"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Employee</th>
                <th>Type Award</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Employee</th>
                <th>Type</th>
                <th>Date</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let c of award$">
                <td>
                  <span class="badge-primary">{{
                    c.employeeName.fullName
                  }}</span>
                </td>
                <td>{{ c.awardType.name }}</td>
                <td>
                  <span class="badge-light">{{ c.awardDate }}</span>
                </td>
                <td>
                  <button
                    type="button"
                    data-bs-toggle="modal"
                    (click)="edit(c.id)"
                    data-bs-target="#edit"
                    class="btn btn-warning btn-sm"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="delete(c.id)"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
