<form class="form-horizontal" action="#" enctype="multipart/form-data" id="auto_department_form">
    <input type="hidden" id="company_id" name="company_id" value="4">
    <div class="form-group row">
        <div class="col-md-3 ambitious-model-form-tc-pt">Nom du département <b class="ambitious-crimson">*</b></div>
        <div class="col-md-9">
            <input class="form-control" name="department_name" id="department_name" type="text" required="">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3 ambitious-model-form-tc-pt">Nom de la filiale <b class="ambitious-crimson">*</b></div>
        <div class="col-md-9">
            <select class="form-control" id="branch_id" name="branch_id" required="">
                <option value="">sélectionner une branche</option>
                                                                        <option value="17">fatima</option>
                                                                        <option value="4">Store</option>
                                                                        <option value="3">Head Branch</option>
                                                                </select>
        </div>
    </div>
</form>