<div class="module">
    <div class="module-head">
        <h3>Tableau de bord</h3>
    </div>
    <div class="module-body table">
        <div class="btn-box-row row-fluid">
            <a href="#" class="btn-box big span4"><i class=" icon-random"></i><b>65</b>
                <p class="text-muted">
                    Employées</p>
            </a><a href="#" class="btn-box big span4"><i class="icon-user"></i><b>15</b>
                <p class="text-muted">
                    Départements</p>
            </a><a href="#" class="btn-box big span4"><i class="icon-money"></i><b>1</b>
                <p class="text-muted">
                    Plainte</p>
            </a>
        </div>
    </div>
</div>