<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <i class="icon-reorder shaded"></i>
            </a>

              <a class="brand" href="index.html">
                  <img src="assets/images/logo.png" height="80" width="120">
              </a>

            <div class="nav-collapse collapse navbar-inverse-collapse">
                <ul class="nav nav-icons">
                    <li class="active"><a href="#">
                        <i class="icon-envelope"></i>
                    </a></li>
                    <li><a href="#">
                        <i class="icon-eye-open"></i>
                    </a></li>
                    <li><a href="#">
                        <i class="icon-bar-chart"></i>
                    </a></li>
                </ul>

                <form class="navbar-search pull-left input-append" action="#">
                    <input type="text" class="span3">
                    <button class="btn" type="button">
                        <i class="icon-search"></i>
                    </button>
                </form>
            
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Item No. 1</a></li>
                            
                            <li><a href="#">Don't Click</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Example Header</li>
                            <li><a href="#">A Separated link</a></li>
                                                        </ul>
                    </li>
                    
                    <li><a href="#">
                        Support
                    </a></li>
                    <li class="nav-user dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="assets/images/user.png" class="nav-avatar" />
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Your Profile</a></li>
                            <li><a href="#">Edit Profile</a></li>
                            <li><a href="#">Account Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div><!-- /navbar -->



<div class="wrapper">
    <div class="container">
        <div class="row">
             <app-navigation></app-navigation>


            <div class="span9">
                <div class="content">

                    

                    <div class="module">
                        <div class="module-head">
                            <h3>Employés</h3>
                        </div>
                        <div class="module-body table">
                            <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display" width="100%">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Email</th>
                                        <th>Télephone</th>
                                        <th>Date de naissance</th>
                                        <th>Sexe</th>
                                        <th>Désignation</th>
                                        <th>Département</th>
                                        <th>Salaire</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td>Nom</td>
                                        <td>Internet
                                             Explorer 4.0</td>
                                        <td>Win 95+</td>
                                        <td class="center"> 4</td>
                                        <td class="center">X</td>
                                        <td class="center">X</td>
                                        <td class="center">X</td>
                                        <td class="center">X</td>
                                    </tr>
                                
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Email</th>
                                        <th>Télephone</th>
                                        <th>Date de naissance</th>
                                        <th>Sexe</th>
                                        <th>Désignation</th>
                                        <th>Département</th>
                                        <th>Salaire</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div><!--/.module-->

                <br />
                    
                </div><!--/.content-->
            </div><!--/.span9-->
        </div>
    </div><!--/.container-->
</div><!--/.wrapper-->

<div class="footer">
    <div class="container">
         

        <b class="copyright">&copy; 2014 Edmin - EGrappler.com </b> All rights reserved.
    </div>
</div>
<!-- Right Panel -->




