
identifiant de l'employé : 34

nom complet : mukesh

email : mukesh@gmail.com

nombre : 45453543

le sexe

:
Male

anniversaire

:
10 Jun, 2020

adresse actuelle

:
df df df f df d fd

Adresse permanente

:
df df df f df d fd

entreprise

:
AmbitiousIT

branche

:
Head Branch

département

:
Quality Control

la désignation

:
QC Engineer

date d'inscription

:
10 Jun, 2020

Type d'emploi

:
Permanent

un salaire

:
58500 (Software Engineer)

Nom à contacter en cas d'urgence

:
numéro de contact en cas d'urgence

:
relation de contact d'urgence

:
note de contact d'urgence

:
reprendre

:
montrer le CV
lettre d'offre

:
montrer la lettre d'offre
lettre d'adhésion

:
montrer la lettre d'adhésion
accord de contrat

:
montrer l'accord de contrat
preuve d'identité

:
voir la preuve d'identité
Nom de banque

:
India central Bank

nom du compte

:
Mukesh G.

Nom de la filiale

:
Mumbai

numéro de compte

:
0154646755755
