<section class="row">
  <div class="col-12 col-lg-9">
    <div class="row">
      <div class="col-6 col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body px-3 py-4-5">
            <div class="row">
              <div class="col-md-4">
                <div class="stats-icon purple">
                  <i class="iconly-boldShow"></i>
                </div>
              </div>
              <div class="col-md-8">
                <h6 class="text-muted font-semibold">Employees</h6>
                <h6 class="font-extrabold mb-0">1</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body px-3 py-4-5">
            <div class="row">
              <div class="col-md-4">
                <div class="stats-icon blue">
                  <i class="iconly-boldProfile"></i>
                </div>
              </div>
              <div class="col-md-8">
                <h6 class="text-muted font-semibold">Jobs</h6>
                <h6 class="font-extrabold mb-0">1</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body px-3 py-4-5">
            <div class="row">
              <div class="col-md-4">
                <div class="stats-icon green">
                  <i class="iconly-boldAdd-User"></i>
                </div>
              </div>
              <div class="col-md-8">
                <h6 class="text-muted font-semibold">Contracts</h6>
                <h6 class="font-extrabold mb-0">1</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body px-3 py-4-5">
            <div class="row">
              <div class="col-md-4">
                <div class="stats-icon red">
                  <i class="iconly-boldBookmark"></i>
                </div>
              </div>
              <div class="col-md-8">
                <h6 class="text-muted font-semibold">Trainings</h6>
                <h6 class="font-extrabold mb-0">1</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>Salaries by departments</h4>
          </div>
          <div class="card-body" style="position: relative">
            <ngx-charts-bar-vertical
              [view]="view"
              [scheme]="colorScheme"
              [results]="single"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
            >
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>Employees by departments</h4>
          </div>
          <div class="card-body" style="position: relative">
            <ngx-charts-pie-chart
              [view]="view2"
              [scheme]="colorScheme2"
              [results]="single"
              [gradient]="gradient2"
              [legend]="showLegend2"
              [legendPosition]="legendPosition2"
              [labels]="showLabels2"
              [doughnut]="isDoughnut2"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)"
            >
            </ngx-charts-pie-chart>
          </div>
        </div>
      </div>
    </div>
    <!--     <div class="row">
      <div class="col-12 col-xl-4">
        <div class="card">
          <div class="card-header">
            <h4>Profile Visit</h4>
          </div>
          <div class="card-body"></div>
        </div>
      </div>
      <div class="col-12 col-xl-8">
        <div class="card">
          <div class="card-header">
            <h4>Latest Comments</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive"></div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="col-12 col-lg-3">
    <div class="card">
      <div class="card-body py-4 px-5">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-xl">
            <img src="assets/images/faces/1.jpg" alt="Face 1" />
          </div>
          <div class="ms-3 name">
            <h5 class="font-bold">Administrator</h5>
            <h6 class="text-muted mb-0">@admins</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4>Recent Messages</h4>
      </div>
      <div class="card-content pb-4"></div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4>Visitors Profile</h4>
      </div>
      <div class="card-body" style="position: relative"></div>
    </div>
  </div>
</section>
