<form class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Nouveau employé</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="nom">Nom</label>  
      <div class="col-md-4">
      <input id="nom" name="nom" type="text" placeholder="" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="genre">Sexe</label>
      <div class="col-md-4">
        <select id="genre" name="genre" class="form-control">
          <option value="1">Homme</option>
          <option value="2">Femme</option>
        </select>
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="prenom">Prénom</label>  
      <div class="col-md-4">
      <input id="prenom" name="prenom" type="text" placeholder="placeholder" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <!-- Prepended text-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="telephone">Téléphone</label>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon">prepend</span>
          <input id="telephone" name="telephone" class="form-control" placeholder="placeholder" type="text">
        </div>
        
      </div>
    </div>
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="salaire">Salaire</label>
      <div class="col-md-4">
        <select id="salaire" name="salaire" class="form-control">
          <option value="1">Developpeur PHP</option>
          <option value="2">Developpeur JAVA</option>
        </select>
      </div>
    </div>
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="departement">Département</label>
      <div class="col-md-4">
        <select id="departement" name="departement" class="form-control">
          <option value="1">Option one</option>
          <option value="2">Option two</option>
        </select>
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="adresse">Adresse</label>  
      <div class="col-md-4">
      <input id="adresse" name="adresse" type="text" placeholder="placeholder" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- File Button --> 
    <div class="form-group">
      <label class="col-md-4 control-label" for="photo">Photo</label>
      <div class="col-md-4">
        <input id="photo" name="photo" class="input-file" type="file">
      </div>
    </div>
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="designation">Désignation</label>
      <div class="col-md-4">
        <select id="designation" name="designation" class="form-control">
          <option value="1">Option one</option>
          <option value="2">Option two</option>
        </select>
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="date">Date d'inscription</label>  
      <div class="col-md-4">
      <input id="date" name="date" type="text" placeholder="" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="remarque">Remarque</label>
      <div class="col-md-4">                     
        <textarea class="form-control" id="remarque" name="remarque"></textarea>
      </div>
    </div>
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Type d'emploi</label>
      <div class="col-md-4">
        <select id="selectbasic" name="selectbasic" class="form-control">
          <option value="1">CDI</option>
          <option value="2">CDD</option>
        </select>
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
      </div>
    </div>
    
    </fieldset>
    </form>
    
