<table class="table table-bordered" id="table" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
    </tr>
  </tfoot>
  <tbody>
    <tr *ngFor="let c of announcement">
      <td>{{ c.title }}</td>
      <td>{{ c.startDate }}</td>
      <td>{{ c.endDate }}</td>
      <td>
        <button
          type="button"
          data-toggle="modal"
          (click)="edit(c.id)"
          data-target="#edit"
          class="btn btn-warning btn-sm"
        >
          <i class="fas fa-edit"></i>
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          (click)="delete(c.id)"
        >
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
