<form [formGroup]="terminationForm">
  <div class="form-group row">
    <label for="employee_name" class="col-4 col-form-label"
      >Employee Name</label
    >
    <div class="col-8">
      <select
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"
        formControlName="Name"
        id="employee_name"
        name="employee_name"
        class="form-control"
      >
        <option *ngFor="let c of employees$" value="{{ c.id }}">
          {{ c.fullName }}
        </option>
      </select>
    </div>
    <div *ngIf="submitted && f.Name.errors" class="alert alert-danger">
      <div *ngIf="submitted && f.Name.errors.required">
        {{ msg.validationMessage.Name }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="select" class="col-4 col-form-label">Type</label>
    <div class="col-8">
      <select
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.typeTermination.errors }"
        formControlName="typeTermination"
        id="select"
        name="type"
        class="form-control"
      >
        <option value="rabbit">Rabbit</option>
        <option value="duck">Duck</option>
        <option value="fish">Fish</option>
      </select>
    </div>
    <div
      *ngIf="submitted && f.typeTermination.errors"
      class="alert alert-danger"
    >
      <div *ngIf="submitted && f.typeTermination.errors.required">
        {{ msg.validationMessage.typeTermination }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="text" class="col-4 col-form-label">Reason</label>
    <div class="col-8">
      <input
        [ngClass]="{ 'is-invalid': submitted && f.Reason.errors }"
        formControlName="Reason"
        id="text"
        name="Reason"
        type="text"
        class="form-control"
      />
    </div>
    <div *ngIf="submitted && f.Reason.errors" class="alert alert-danger">
      <div *ngIf="submitted && f.Reason.errors.required">
        {{ msg.validationMessage.Reason }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="text1" class="col-4 col-form-label">Notice</label>
    <div class="col-8">
      <input
        [ngClass]="{ 'is-invalid': submitted && f.Notice.errors }"
        formControlName="Notice"
        id="text1"
        name="Notice"
        type="text"
        class="form-control"
      />
    </div>
    <div *ngIf="submitted && f.Notice.errors" class="alert alert-danger">
      <div *ngIf="submitted && f.Notice.errors.required">
        {{ msg.validationMessage.Notice }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="text2" class="col-4 col-form-label">Termination Date</label>
    <div class="col-8">
      <input
        [ngClass]="{ 'is-invalid': submitted && f.TerminationDate.errors }"
        formControlName="TerminationDate"
        id="text2"
        name="text2"
        type="text"
        class="form-control"
      />
    </div>
    <div
      *ngIf="submitted && f.TerminationDate.errors"
      class="alert alert-danger"
    >
      <div *ngIf="submitted && f.TerminationDate.errors.required">
        {{ msg.validationMessage.TerminationDate }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="textarea" class="col-4 col-form-label">Description</label>
    <div class="col-8">
      <textarea
        [ngClass]="{ 'is-invalid': submitted && f.Description.errors }"
        formControlName="Description"
        id="textarea"
        name="textarea"
        cols="40"
        rows="5"
        class="form-control"
      ></textarea>
    </div>
    <div *ngIf="submitted && f.Description.errors" class="alert alert-danger">
      <div *ngIf="submitted && f.Description.errors.required">
        {{ msg.validationMessage.Description }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button
        (click)="add()"
        name="submit"
        type="button"
        class="btn btn-primary"
      >
        Create
      </button>
    </div>
  </div>
</form>
