<form [formGroup]="trainingForm">
  <div class="form-group row">
    <label for="select" class="col-4 col-form-label">Type</label>
    <div class="col-8">
      <select
        id="select"
        name="select"
        class="form-control"
        formControlName="typetraining"
      >
        <option *ngFor="let c of typeTerminations$" value="{{ c.id }}">
          {{ c.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="text" class="col-4 col-form-label">Trainer</label>
    <div class="col-8">
      <input
        id="text"
        name="text"
        type="text"
        class="form-control"
        formControlName="name"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="select1" class="col-4 col-form-label">Employee</label>
    <div class="col-8">
      <select
        id="select1"
        name="select1"
        class="form-control"
        formControlName="employee"
      >
        <option *ngFor="let c of employees$" value="{{ c.id }}">
          {{ c.fullName }}
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="text1" class="col-4 col-form-label">Start</label>
    <div class="col-8">
      <input
        id="text1"
        name="text1"
        type="date"
        class="form-control"
        formControlName="startDate"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="text2" class="col-4 col-form-label">End</label>
    <div class="col-8">
      <input
        id="text2"
        name="text2"
        type="date"
        class="form-control"
        formControlName="endDate"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="textarea" class="col-4 col-form-label">Description</label>
    <div class="col-8">
      <textarea
        formControlName="description"
        id="textarea"
        name="textarea"
        cols="40"
        rows="5"
        class="form-control"
      ></textarea>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button
        (click)="add()"
        name="submit"
        type="submit"
        class="btn btn-primary"
      >
        Create
      </button>
    </div>
  </div>
</form>
