<div class="page-heading">
  <section class="section">
    <div class="card">
      <div class="card-header">
        <h2>Complains</h2>
      </div>
      <div class="card-body">
        <div class="dataTable-container">
          <button
            type="button"
            class="btn btn-success btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#add"
          >
            <i class="fas fa-plus-square"></i> Create
          </button>
          <table
            class="table table-bordered"
            id="table"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>By</th>
                <th>Against</th>
                <th>Title</th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>By</th>
                <th>Against</th>
                <th>Title</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let c of complain$">
                <td>{{ c.complainBy.fullName }}</td>
                <td>{{ c.complainAgainst.fullName }}</td>
                <td>{{ c.complainTitle }}</td>
                <td>
                  <!--  <button
                    type="button"
                    data-bs-toggle="modal"
                    (click)="edit(c.id)"
                    data-bs-target="#edit"
                    class="btn btn-warning btn-sm"
                  >
                    <i class="fas fa-edit"></i>
                  </button> -->
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="delete(c.id)"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <div
            class="modal fade"
            id="edit"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true"
          >
            <div
              class="modal-dialog modal-dialog-centered modal-lg"
              role="document"
            >
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <app-edit-complain
                    [id]="id"
                    (closeModalEvent)="closeModalEdit()"
                  ></app-edit-complain>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary closeEdit"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div
            class="modal fade text-left"
            id="add"
            tabindex="-1"
            aria-labelledby="myModalLabel1"
            style="display: none"
            aria-hidden="true"
          >
            <div
              class="modal-dialog modal-dialog-scrollable modal-lg"
              role="document"
            >
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel1">Create</h5>
                  <button
                    type="button"
                    class="close rounded-pill"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    <i data-feather="x"></i>
                  </button>
                </div>
                <div class="modal-body">
                  <app-add-complaint
                    (closeModalEvent)="closeModalAdd()"
                  ></app-add-complaint>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn closeAdd"
                    data-bs-dismiss="modal"
                  >
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Close</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
